<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>GlowUp!</title>

	<!--bootstrap CDN-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!--stuff for the person icon-->
	<!--<link rel="stylesheet" href="/lib/w3.css">-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="assets/glowup.css">
	<style>
	.material-icons {
		vertical-align: -14%;
	}
	</style>
</head>

<body>
	<div class="header">
		<a role="button" href="/style">
			<span class="glyphicon glyphicon-arrow-left" id="left-arrow"></span>
		</a>
		<a role="button" href="/home">
			<span class="glyphicon glyphicon-home" id="home"></span>
		</a>
	</div>
	<div class="main-title">
			
		<h3 id="header-title"> Your {{style}} Look </h3>
	</div>
	<div class="img">
		<img src="http://i.imgur.com/saTbvJq.jpg" id="look-image">
	</div>
	<div class="steps">
		<ul>
			<li class = "step">1. Apply foundation all over your face</li>
			<li class = "step">2. Apply concealer to under eyes and any problem areas</li>
			<li class = "step">3. Apply blush to apples of cheeks</li>
			<li class = "step">4. Apply natural eyeshadow all over lid</li>
			<li class = "step">5. Apply light eyeshadow to inner corners and below eyebrows</li>
			<li class = "step">6. Apply eyeliner </li>
			<li class = "step">7. Apply mascara</li>
			<li class = "step">8. Apply light-neutral lipstick shade</li>
		</ul>
	</div>
	<footer>
		<a href = "/">
			<button class ="btn btn-primary btn-lg btn-block full-width">Done</button>
		</a>
	</footer>
</body>

</html>
