<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
    <link href="assets/index.css" type="text/css" rel="stylesheet" />

    <!--stuff for the person icon-->
    <link rel="stylesheet" href="/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- BIG NO NO DONT DO THIS -->

</head>


<body>
    <!--trying to create a person icon at top of screen-->
    <a href="/profile">
    <div class="w3-container">
        <button href="/profile" id="profile-button" type="button" class="btn btn-secondary"><i class="material-icons">person</i></button>
    </div>
    </a>

    <!--center buttons-->
    &nbsp;
    <center>
        <a href="/time" data-toggle="modal" data-target="#myModal" class="btn btn-circle-lg btn-default">
            <p>TIME</p>
        </a>
    </center>
    &nbsp;
    <center>
        <a href="/occasion" data-toggle="modal" data-target="#myModal" class="btn btn-circle-lg btn-default">
            <p>OCCASION</p>
        </a>
    </center>
    &nbsp;
    <center>
        <a href="/style" data-toggle="modal" data-target="#myModal" class="btn btn-circle-lg btn-default">
            <p>STYLE</p>
        </a>
    </center>


    <!--align GlowUp! in bottom center-->
    <div style="position: relative; text-align: center">
        <h1>
      		<a href="/glowup"><p style="position: fixed; bottom: 0; width:100%;">  <button type="button" class="btn btn-default">GlowUp!</button></p></a>
      	</h1>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>
