<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>GlowUp!</title>
    <style>
        h1   {color: white;}
    </style>
    <!--bootstrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="assets/index_b.css" type="text/css" rel="stylesheet" />

    <!--stuff for the person icon-->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">




</head>
<body>
    <!--trying to create a person icon at top of screen-->

    <div class="header">
      <a href="/">
        <span class="glyphicon glyphicon-log-out"></span>
      </a>
<!--         <a href="/profile">
        <button id="profile-button" type="button" class="glyphicon glyphicon-user"></button>
        </a> -->
        <h1 id="header-title" class="text-center"> Glow Up! </h1>
    </div>

    <!--center buttons-->
    &nbsp;
    <center>
<!--         <p class="white">Fill out your Profile First!</p> -->
        <a href="/time">
            <button id="main-button" type="button" class="btn btn-circle-lg btn-default">
                <h1>Get Your Look</h1>
            </button>
        </a>
    </center>
<!--
    &nbsp;
    <center>
        <a href="/browse">
            <button id="main-button" type="button" class="btn btn-circle-lg btn-default">
                <h2>Browse All Looks</h2>
            </button>
        </a>
    </center>
    &nbsp;
  -->
    <footer>
        <a href = "/browse">
            <button style="color:black;" class ="btn btn-primary btn-lg btn-block full-width">Browse All Looks</button>
        </a>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="assets/home.js"></script>
</body>

</html>
