<!DOCTYPE html>
<html>

<head>
  <!-- FIREBASE -->
  <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCS5zE0DwYxfjAuy3X_qrkqwtdp8H7w6tk",
      authDomain: "glowup-d06eb.firebaseapp.com",
      databaseURL: "https://glowup-d06eb.firebaseio.com",
      storageBucket: "glowup-d06eb.appspot.com",
      messagingSenderId: "536966345614"
    };
    firebase.initializeApp(config);
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="assets/login.js"></script>
  <link href="assets/login.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <div class="container wrapper form">
    <div class="form-signin">


      <label for="txtEmail" class="col-2 col-form-label">Email</label>
      <div class="col-10">
        <input class="form-control" type="email" placeholder="sample@ucsd.edu" id="txtEmail">
      </div>
      <label for="txtPassword" class="col-2 col-form-label">Password</label>
      <div class="col-10">
        <input class="form-control" type="password" placeholder="password" id="txtPassword">
      </div>






    <br />

    <button id="btnLogin" class="btn btn-primary">Login</button>
    <button id="btnSignup" class="btn btn-secondary">Sign Up</button>
    <button id="btnLogout" required class="btn btn-primary hide">Log out</button>
    <a id="goHome" href="/home" hide >Got Home!</a>
      </div>
      </div>
</body>

</html>
