<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
        <link href="assets/login.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <form class="form-signin">
            <h2 class="form-signin-heading">Login</h2>
            <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
            <input type="password" class="form-control" name="password" placeholder="Password" required="" />
            <br />
            <button id="login" class="btn btn-lg btn-warning btn-block" type="submit">Login</button>
            <button id="signup" class="btn btn-lg btn-warning btn-block" type="submit">Sign Up</button>
        </form>
    </div>



</body>

</html>
