<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>GlowUp!</title>

	<!--bootstrap CDN-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!--stuff for the person icon-->
	<!--<link rel="stylesheet" href="/lib/w3.css">-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="assets/signin.css">
	<style>
	.material-icons {
		vertical-align: -14%;
	}
	</style>
</head>

<body>
	<div class="header">
		<h3 id="header-title"> GlowUp! </h3>
	</div>

<!-- 			<a role="button" href="/home">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary btn-lg btn-block full-width">
							<input type="radio" name="options" id="option1" autocomplete="off" checked> Sign Up
						</label>
						<label class="btn btn-primary btn-lg btn-block full-width">
							<input type="radio" name="options" id="option1" autocomplete="off" checked> Login
						</label>
					</div>
			</a> -->



	 <div class="form-signin">


      <label for="txtEmail" class="col-2 col-form-label">Email</label>
      <div class="col-10">
        <input class="form-control" type="email" placeholder="sample@ucsd.edu" id="txtEmail">
      </div>
      <label for="txtPassword" class="col-2 col-form-label">Password</label>
      <div class="col-10">
        <input class="form-control" type="password" placeholder="********" id="txtPassword">
      </div>


	<footer>
		<a href = "/home">
			<button class ="btn btn-primary btn-lg btn-block full-width">Login</button>
		</a>
	</footer>
</div>
</body>

</html>