#aTitle {
	text-align: center;
}

.output {
	margin-top: 20px;
}

.btn-primary {
	background-color: black;
}

.lookBlock {
	margin-left: 10px;
	border-radius: 7px;
	background-color: green;
	width: 80%;
	height: 20%;
}

h2 {
	color: white;
}

/* targets thumbnail */
#imgSmall {
	float: left;
	width: 50px;
	height: 50px;
}

.btn-primary {
	border-color: #ff6a80;
	background-color: #ff6a80 !important
}

.btn-primary:active {
	background-color: #E30B5D !important;
}

.btn-primary:hover {
	background-color: #E30B5D !important;
}

.btn-primary:focus {
	background-color: #E30B5D !important;
}