body{
	background-color: #FAD4D8;
		font-family: 'Dancing Script', cursive;
}

ul {
	list-style: none;
}
.header {
	display: inline;
}

#left-arrow {
	color: black;
	font-size: 30px;
	margin-top: 50px;
	margin-left: 8%;
}

#home {
	color: black;
	font-size: 25px;
	margin-left: 65%;
}

.main-title {
	text-align: center;
}

.img {
	text-align: center;
}

#look-image {
	margin-top: 1%;
	width: 150px;
	height: 150px;
	border: 1px solid black;
}

.step {
	margin-top: 1%;
	font-size: 16px;
	margin-bottom: 3%;
}

.full-width {
	height: 55px;
	background-color: black;
	width: 380px;
	border-radius: 0;
	margin-top: 7%;
}
#header-title{
	font-family: 'Lora', serif;


}
