#main-button {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  font-family: 'Dancing Script', cursive;
  background-color: #FAD4D8;

}
.white {
  color: #FFF;
}
.material-icons {
    vertical-align: -14%
}

.btn-default {
  width: 180px;
  font-size: 30px;

}

.btn-secondary {
  font-size: 30px;
}

.header {
  text-align: center;
}
#profile-button {
  /*for 375x612 */
  color: #FFF;
  font-size: 30px;
}

body{
  font-family: 'Indie Flower', cursive;
  background-color: #000;
}

.material-icons {
    vertical-align: -14%
}
