#main-button {
  margin-top: 60px;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  font-family: 'Courgette', cursive;
  background-color: #ff6a80;
  color: white;

}
.white {
  color: white;
}
.material-icons {
    vertical-align: -14%
}

.btn-default {
  width: 180px;
  font-size: 30px;

}

.btn-secondary {
  font-size: 30px;
}

.header {
  text-align: center;
}
#profile-button {
  /*for 375x612 */
  color: white;
  font-size: 30px;
}

.glyphicon-log-out {
  color: white;
  font-size: 35px;
  margin-left: 85%;
  margin-top: 3%;
}

body{
  font-family: 'Courgette', cursive;
  background-color: #282828;
}

.material-icons {
    vertical-align: -14%
}

.full-width {
  height: 60px;
  background-color: #ff6a80;
  position:absolute;bottom:0;
  width: 380px;
  border-radius: 0;
  font-family: 'Courgette', cursive;
  font-size: 20px;
  color: white;
}

#header-title {
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  color: white ;
}
