#main-button {
  width: 200px;
  height: 200px;
  border-radius: 100%;

}

.material-icons {
    vertical-align: -14%
}

.btn-default {
  width: 180px;
  font-size: 30px;

}

.btn-secondary {
  font-size: 30px;
}

.header {
  text-align: center;
}
#profile-button {
  /*for 375x612 */
  color: black;
  font-size: 30px;
}

body{
  font-family: Arial, sans-serif;
}
