#main-button {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-top: 40%;
}

.btn-secondary {
  font-size: 30px;
}

.header {
  text-align: center;
}
#profile-button {
  /*for 375x612 */
  color: black;
  font-size: 30px;
}

body{
  font-family: Arial, sans-serif;
}
