body{
	background-color: #383838;
}

#header-title {
	font-size: 60px;
	font-family: 'Pacifico', cursive;
	color: #FFF;
}

#email-title {
	margin-left: 4em;
	margin-top: 6em;
	color: white;
}

#password-title {
	margin-left: 4em;
	margin-top: 20%;
	color: white;
}

#home {
	color: black;
	font-size: 30px;
	margin-top: 50px;
	margin-left: 50px;
}

.label{
	width: 80%;
}
.regular{
	font-family: Arial;
}

#txtEmail {
	margin-left: 4em;
	width: 70%;
}

#txtPassword {
	margin-left: 4em;
	width: 70%;
}

.material-icons {
	vertical-align: -14%;
}

.full-width {
	height: 60px;
	width: 100%;
	background-color: #DE5D83;
	color: #000;
	position: absolute;
	bottom: 0;
}

#login {
	color: white;
}
