body{
	background-color: #000;
}

.header {

}

#header-title {
	font-size: 60px;
	font-family: 'Pacifico', cursive;
	color: #FFF	;
}

#home {
	color: black;
	font-size: 30px;
	margin-top: 50px;
	margin-left: 50px;
}

.full-width {
	height: 60px;
	background-color: #FAD4D8;
	margin-top: 100px;
	margin-bottom: 2px;
	width: 380px;
	border-radius: 0;
	color: #000;
}
.label{
	width: 80%;
}
.regular{
	font-family: Arial;
}
footer {
	margin-top: 100px;
}

.material-icons {
	vertical-align: -14%;
}
