.header {
	display: inline;
}

#header-title {
	display: inline-block;
	margin-left: 26%;
}

#left-arrow {
	color: black;
	font-size: 30px;
	margin-top: 50px;
	margin-left: 8%;
}

#home {
	color: black;
	font-size: 25px;
	margin-left: 23%;
}

.full-width {
	height: 55px;
	background-color: black;
	margin-top: 15%;
	width: 380px;
	border-radius: 0;
}

footer {
	margin-top: 28%;
}

