body{
	background-color: #282828;
	font-family: 'Courgette', cursive;
}

.header {
	text-align: center;
	width: 100%;
	display: inline-block;
}

#centered {
	text-align: center;
}

#header-title {
	color: white;
	margin-left: 20px;
	display: inline-block;
}

#home {
	color: white;
	font-size: 30px;
	margin-top: 50px;
	margin-left: 45px;
}

#back {
	color: white;
	font-size: 30px;
	margin-top: 50px;
	margin-right: 20px;
}

.material-icons {
	vertical-align: -14%;
}

.btn-group {
	width:100%;
}

button {
	background-color: #ff6a80;
	border: 0;
	padding: 0;
	width: 100%;
}

.full-width {
	height: 60px !important;
	padding-top: 14px;
	background-color: #ff6a80;
	margin-top: 40px;
	margin-bottom: 6px;
	width: 100%;
	border-radius: 0;
}

footer {
	position: absolute;
	bottom: 0;
	margin-bottom: -12px;
	width: 100%;
}

#nxt {
	width: 100%;
}


#nxtbut {
	height: 60px;
	background-color: #ff6a80;
	margin-top: 25px;
}




.btn-primary {
	height: 60px;
	background-color: #ff6a80;
	border-color: #ff6a80;
}

.btn-primary:active {
	background-color: #E30B5D !important;
}

.btn-primary:hover {
	background-color: #E30B5D !important;
}

.btn-primary:focus {
	background-color: #E30B5D !important;
}

.red-border{
	border-color: #E30B5D;
	border-width: medium;
	border-style: solid;
}
